html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

body {
  line-height: 1.2;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 2rem 1.5rem;
}

.bg_light {
  background-color: #ccc;
}
.bg_dark {
  background-color: #444;
}
.text_light {
  color: #ccc;
}
.text_dark {
  color: #444;
}

.thin {
  font-weight: 200;
}

.bold {
  font-weight: 600;
}

h1, h2, h3, h4, a {
  color: #444;
}

p {
  color: #444;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 760px) {

}


/* HEADER */
header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

header div.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 2rem;
}

p.logo {
  font-size: 1.1rem;
  text-transform: uppercase;
}

header .desktop ul {
  display: flex;
}

header .desktop li {
  padding-left: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header div.logo, header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-between;
  }
}

/* MAIN - CTA */
#cta {
  display: flex;
  padding: 2rem 1.5rem;
}

#cta .image_container {
  width: 60%;
  max-width: 1104px;
}

#cta .text_container {
  margin: auto;
  width: 30%;
  padding: 2rem;
}

#cta .button {
  display: block;
  text-align: center;
  border-radius: 0.2rem;
  background-color: #444;
  padding: 0.5rem 2rem;
}

@media only screen and (max-width: 760px) {
  #cta {
    flex-flow: column wrap;
    padding: 0;
  }
  #cta .image_container {
    width: 100%;
  }
  #cta .text_container {
    width: 100%;
  }

  #cta .text_container {
    width: 100%;
    padding: 2rem 1rem;
  }
  #cta h1 {
    margin: 0;
  }
  #cta h3 {
    margin: 2rem 0 1.5rem; 0;
  }
  #cta .button {
    display: block;
  }

}


/* MAIN - OVERVIEW */

#information {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

#information .main {
  grid-column-start: 1;
  padding: 2rem 1.5rem;
}

#information .side {
  grid-column-start: 2;
  display: inline-block;
}

#information .side article {
  display: flex;
  padding: 1rem;
}

#information .side article img.desktop {
  display: inline-block;
  width: 35%;
  height: auto;
}

#information .side article .text_container {
  display: inline-block;
  padding: 1rem;
  margin: auto 0;
}

#information a {
  color: cornflowerblue;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  #information {
    display: block;
  }

  #information .side {
    display: block;
  }

  #information .side article {
    display: block;
  }

  #information .side article img.mobile {
    display: block;
  }

  #information .side article img.desktop {
    display: none;
  }

  #information .side article .text_container {
    display: block;
    padding: 1rem;
    margin: auto;
  }
  #information {
    display: block;
  }


}


/* MAIN - LEARNING */

#course {
  background-color: #ccc;
  padding: 2rem 4.5rem 0 4.5rem;
}

#course h1 {
  text-align: center;
}

#course h4 {
  margin-bottom: 1rem;
}

#course .course_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-left: -2rem;
}

#course .course {
  margin: 0 0 2rem 2rem;
  background-color: white;
}

#course .course img {
  width: 100%;
  height: auto;
}

#course .text_container {
  padding: 1rem 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }
  #course {
    background-color: white;
    padding: 2rem 1rem 1.5rem 1rem;
  }
  #course h4 {
    margin: 0;
  }
  #course .course_container {
    flex-flow: column wrap;
    margin: 0;
  }
  #course .course {
    width: 100;
    max-width: none;
    margin: 0 0 0.5rem 0;
    background-color: #ccc;
    border-radius: 0.2rem;
  }
  #course .text_container {
    padding: 1rem;
  }
}

/* MAIN - THESIS */
#thesis {
  padding: 2rem 1.5rem;
}

#thesis h1 {
  text-align: center;
}


/* FOOTER */



/* ANIMATIONS */
:hover {
  transition-delay: 0.05s;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
}
#information .side article:hover {
  background-color: #ccc;
}
#course article:hover {
  box-shadow:  0.2rem 0.1rem 0.8rem 0.15rem #444;
}
